mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+e.block
				+pic("head-img.png",'',0)
				h1 Стройматериалы оптом и в розницу
				+e.text От идеи до монтажа по завидным ценам!
				+e.btn(href="#") Получить консультацию!

				p Получите #[span бесплатную] консультацию и&nbsp;#[span расчет онлайн]  прямо сейчас. Заполните простую форму, мы  свяжемся с&nbsp;вами в&nbsp;течение 15&nbsp;минут!
	// end headerBlock